<% include index.ejs %>

        <div class="w3-container">
            <div class="w3-bar w3-deep-orange">
                <a href="/" class="w3-bar-item w3-btn w3-hover">
                    <i class="fa fa-home w3-xlarge "></i>
                </a>
                <a href="/msgForm" class="w3-bar-item w3-btn w3-hover">Send Massege</a>
                <a href="/msg" class="w3-bar-item w3-btn w3-hover">See Masseges</a>
            </div>
            <div class="w3-container w3-orange w3-animate-right">
                    <h1 style="color:white">Massege App</h1>
            </div>
            <div class="w3-panel w3-light-grey w3-round-xlarge w3-animate-right">
                    <p>Hi.. Friends i am create a basic web app for masseging you can send a massege just click on the <strong>
                        Send Massege</strong> option and send your massege to your friend.
                    If you want to you all massege then click on the <strong>See Massege</strong>option..<br>
                    <strong>Note:</strong> Kindly fill out the all fields in the form 
                        then you send the massege other wise you can't able to send massege. thanks for visiting my side..
                   </p>
            </div>
            <div class="w3-panel w3-light-grey w3-round-xlarge w3-animate-right">
                <p>
                        <strong>Note:</strong> Kindly fill out the all fields in the form 
                        then you send the massege other wise you can't able to send massege. thanks for visiting my side..
                </p>
            </div>
        </div>